/* FONTS */
  
   .brawler-regular {
      font-family: "Brawler", serif;
      font-weight: 400;
      font-style: normal;
   }
   
   .brawler-bold {
      font-family: "Brawler", serif;
      font-weight: 700;
      font-style:normal;
   }

   @font-face {
      font-family: 'Sudo';
      src: url('fonts/sudo/Sudo-Light.woff2') format('woff2');
      font-style: normal;
   }

   @font-face {
      font-family: 'Sudo';
      src: url('fonts/sudo/Sudo-LightItalic.woff2') format('woff2');
      font-style: italic;
   }

   @font-face {
      font-family: 'BlankSpaceGraffiti';
      src: url('fonts/blank-space/BlankSpaceGraffiti.woff2') format('woff2');
      src: url('fonts/blank-space/BlankSpaceGraffiti.woff') format('woff');
      src: url('fonts/blank-space/BlankSpaceGraffiti.ttf') format('ttf');
   }

/* GLOBAL STYLES */

   body{
      margin: 0;
      background-image: url("AdobeStock_281049891.jpeg");
      background-size: cover;
      background-attachment: fixed;
      background-color: #F5F5F5;
      overflow: hidden;
   }

   h1{
      font-family: 'Brawler';
      font-size: 3.3em;
      line-height: 1.35;
      color: #6A6969;
      width: 40vw;
      margin-left: 3vw;
   }
   a{
      color: #748320;
   }

   #zine-flex{
      display: flex;
      flex-direction: row;
      height: 85vh;
   }


/* FIXED OBJECTS*/
   img#grass-bottom{
      width: 100%;
      max-width: 100vw;
      position: fixed;
      bottom: -2vh;
      z-index: 1;
      }

   button#generate{
    width: 75px;
    height: 76px;
    border-radius: 50%;
    background: rgb(163,172,107);
    background: linear-gradient(0deg, rgba(163,172,107,1) 0%, rgba(255,254,254,1) 100%);
    border: solid 4px #6B8DAC; 
    float:right;
    position: fixed;
    margin-bottom: -10vh;
    margin-right: 1vw;
    position: relative;
    z-index: 2;
   }

   button#generate:hover{
      background: rgb(163,172,107, .85);
      background: linear-gradient(0deg, rgba(163,172,107,0.85) 0%, rgba(255,254,254,0.85) 100%);
   }
   button#generate:active{
      background: rgb(163,172,107, .7);
      background: linear-gradient(0deg, rgba(163,172,107,0.7) 0%, rgba(255,254,254,0.7) 100%);
   }

/* ZINE INFO */
   @media screen and (max-width: 768px){
      #title-heart{
         width: auto !important;
      }
      h1{
         font-size: 2.7em;
      }
      #project-desc{
         max-width: none !important;
      }
      button#generate {
      margin-right: 8vw;
      width: 60px;
      height: 60px;
      }
   }

   span.blank-bubble{
      font-family: 'BlankSpaceGraffiti';
   }
   #title-heart{
      width: 41vw;
   }
   img#heart-graphic{
      width: 70px;
      height: auto;
      float: right;
      margin-top: -4%;
   }

   #project-desc{
      max-width: 45vw;
      margin-left: 3vw;
   }
   #project-desc p{
      font-family: 'Brawler';
      font-size: .8em;
      color: #333;
      text-shadow: 0 0 3px #F8823Fbf;
      margin-block-start: .5em;
      margin-block-end: .5em;
   }
   #project-desc a{
      color:#505050;
   }
   #project-desc a:hover{
      color: #748320;
   }

/* WEB ZINE */
   #web-zine{
      align-self: center;
      width: -webkit-fill-available;
      padding: 0 10vw;
   }

 .love-letter{
     position: absolute;
      width: 37vw;
      min-width: 250px;
      height: auto;
      margin: auto;
      border: solid 2px #edcb59;
      background: rgb(254,248,248);
      background: linear-gradient(0deg, rgba(254,248,248,0.9) 0%, rgba(255,254,254) 100%);
      
      cursor: move;
   }

   .letter-content{
      max-height: 60vh;
      overflow-y: auto;
   }

   .letter-content::-webkit-scrollbar{
      border-radius: 50px;
   }
   .letter-content::-webkit-scrollbar-track {
      background: transparent;
     }

     .letter-content::-webkit-scrollbar-thumb {
      border-radius: 40px;
      background-color: #e3e3e3;
    }

   .top{
      height: 40px;
      background: #edcb59;
      position: relative;
   }
   .star::after{
      content:url('star-outline.png');
      position: absolute;
      top: 50%;
      left: 85%;
      transform: translateY(-50%) scale(.45) !important;
   }
   .letter-content{
      padding: 1.33vh 1.75vw;
      font-family: 'Sudo';
      font-size: 1.1em;
      color: #333;
   }


   .author p::before{
      content: "--";
   }

  /*MOBILE POPUP*/
   .popup {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgb(252,252,242);
      padding: 20px;
      border: 2px solid #5E782D;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 9999;
      text-align: center;
      min-width: 250px;
      margin-left: 0 !important;
  }
  .popup-close {
   position: absolute;
   top: 1vh;
   right: 2.5vw;
   cursor: pointer;
   }

   .popup-close::before,
   .popup-close::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 15px;
      background-color: #6A6969;
   }

   .popup-close::before {
      transform: rotate(45deg);
   }

   .popup-close::after {
      transform: rotate(-45deg);
   }
  /*mobile and tablet devices */
  @media screen and (max-width: 768px) and (pointer: coarse) {
      .popup {
          display: block;
      }
  }